<div class="container">
  
  <app-search-customers ></app-search-customers>

  <div *ngFor="let customer of customers">
    <div class="row justify-content-center">
      <h5>{{customer.firstName}} {{customer.lastName}}</h5>
    </div>
    <hr />
    <div class="container">
      <div class="row">
        <b>Adresse: </b><br />
        {{customer.address}}<br />
        {{customer.city}} {{customer.postalCode}} <br />
        {{customer.stateProvince}}<br />
        {{customer.countryDto.countryName}}<br />
      </div>
      <hr />
      <div class="row">
        <b>Contact: </b><br />
        {{customer.phoneNumber}} <br />
        {{customer.email}}
      </div>
    </div>

  </div>
  
</div>
