<div class="container">
  <div class="row">
    <div class="col">
      <div class="card w-75">
        <div class="card-body">
          <div class="text-center">Customer Information</div>
          <app-all-customers></app-all-customers>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card w-75">
        <div class="card-body">
          <div class="text-center">Sales In Country</div>
          <app-salesbycountryregion></app-salesbycountryregion>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    
  </div>
</div>
