<div class="container">
    <ng-multiselect-dropdown [placeholder]="'Select Country'"
                             [settings]="dropdownSettings"
                             [data]="contriesWithRegions"
                             [(ngModel)]="selectedItems"
                             (onSelect)="onItemSelect($event)"
                             (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
</div>
