
<ng-multiselect-dropdown [placeholder]="'Select Customer'"
                         [settings]="dropdownSettings"
                         [data]="allCustomers"
                         [(ngModel)]="selectedCustomers"
                         (onSelect)="onItemSelect($event)"
                         >
</ng-multiselect-dropdown>
<button class="btn btn-primary" (click)="announce()">select</button>

