<div class="container">
  <div>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!salesIsCollapsed"
            aria-controls="collapseExample">
      Sales By Counties
    </button>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!regionIsCollapsed"
            aria-controls="collapseExample">
      Sales By Region
    </button>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="salesIsCollapsed">
      <div class="container">
        <div class="py-4">
          <app-list-countries></app-list-countries>
        </div>


      </div>
    </div>

  </div>
</div>
